
    
        <title>XLPORE</title>
        <div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('{{city.dataValues.image}}')">
         <nav>
            <div class="nav-wrapper linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%)">
              <a class="brand-logo"> 
               </a>

              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">dehaze</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/">H O M E</a></li>
                <li><a href="/api/trips">S A V E D &nbsp; T R I P S</a></li>
                <li>
                    <a class="modal-trigger" href="#modal3">S I G N &nbsp; U P</a>
                    
                <!-- <button data-target="modal1" class="btn modal-trigger">S I G N &nbsp; U P</button> -->
                </li>

              </ul>
              
            </div>
          </nav>
          
          <ul class="sidenav" id="mobile-demo">
            <li><a href="/">H O M E</a></li>
            <li><a href="api/trips">S A V E D &nbsp; T R I P S</a></li>
            <li><a href="#modal3" class="modal-trigger">S I G N &nbsp; U P</a></li>
          </ul>


           <!-- Modal Trigger -->
         
  <div id="modal2" class="modal">
    <div class="jumbotron bg-cover text-white pic" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://wallpaperaccess.com/full/123346.jpg)">

    <div class="modal-content">

        <div class="row">
         
            <h4 class="usernameInput">Save Your Trips! </h4>
     
              <h4 class="inputUsernameHere">Input your new username below</h4>
            <form class="col s12">
              <div class="row">
                <div class="input-field col s2"></div>
                <div class="input-field col s8">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix"  type="text" class="validate text savedName">
                  <label for="icon_prefix">Username</label>
                
                </div>
                <div class="input-field col s2"></div>
          
              </div>
            </div>
            </form>
          </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat signUpBtn">Sign Me Up!</a>
    </div>
</div>
        
                  
	</head>
	<body> 

    
     
           
        <div class="border border-danger card text-center" style="background-color: rgba(245, 245, 245, 0.5)">
            <div class="card-header">
            </div>
          </div>
          {{!-- <a class="saveTripBtn btn-large waves-effect waves-white">SAVE THIS TRIP</a> --}}
          <h1 class="title wel animate__animated animate__pulse"> 
            <div id="title">{{city.dataValues.name}}</div> </h1>            
            <i><p class="cityDescription">{{city.dataValues.description}}</p></i>
            <br>
             <div class="row sRS">
<div class="row sRS">
                <div class="grid-example col s12 m4 full-width" id="sightDiv"><span class="flow-text titleShadow"><h3><u>SIGHTS</u></h3>                    <p> {{#each city.Sights}} 
                      <label>
                    <p class="sightName">{{this.dataValues.name}}</p>
                    <br>
                    <img src="{{this.dataValues.image}}" style="width: 300px; height: 200px sightImg" alt="Italian Trulli"/>
                      <br>
                     <p class="sightInfo">{{this.dataValues.description}}</p>
                     <br>
                    <br>
                    {{/each}}
                  </p>
                  <form action="#">
                </span></div>
                <div class="grid-example col s12 m4 full-width" id="sightDiv"> <span class="flow-text titleShadow"><h3><u>RESTAURANTS</u></h3>
                    <label>
                     {{#each city.dataValues.Restaurants}}
                    <p class="restaurantName">{{this.dataValues.name}}</p>
                    <br>
                    <img src="{{this.dataValues.image}}" style="width: 300px; height: 200px sightImg" alt="Italian Trulli"/>

                    <br><i class= "restaurantType">
                    {{this.dataValues.type}}
                    </i>
                    <br>
                    <p class= "restaurantWebsite">
                    Website:
                    <br>
                    <a href={{this.dataValues.website}}>Click Here!
                    </a>
                    </p>
                    <br>
                    <br>
                    {{/each}}
                    <form action="#">
                      
                  </p>
                  </p>
                </span></div>
                <div class="grid-example col s12 m4"><span class="flow-text titleShadow"><h3><u>SAVED</u></h3>
                    <br>
                
  <!-- Dropdown Structure -->
 
  <select class="browser-default savedDropBox savedUserName" style="width: 200px; height: 40px">
    <option value="" disabled selected >Select User</option>
    <option value="nameId">Kelly</option>
    <option value="nameId">Rebecca</option>
    <option value="nameId">Andrew</option>
  </select> 
     <div class="input-field col s12">
    <select multiple>
        <option value="" disabled selected></option>
   {{#each city.dataValues.Sights}}
      <option value="{{dataValues.id}}">{{dataValues.name}}</option>
    {{/each}}
     </select>
    <label class="selectFrom">Select from Sights</label>
  </div>
<br>   

<div class="input-field col s12">
    <select multiple>
            <option value="" disabled selected></option>
         {{#each city.dataValues.Restaurants}}
      <option value="{{dataValues.id}}">{{dataValues.name}}</option>
    {{/each}}
        </select>
    <label class="selectFrom">Select from Restaurants</label>
  </div>
<form class="col s12">
      <div class="row">
        <div class="input-field col s6 textInput">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea userWrittenDescription"> </textarea>
          <label for="icon_prefix2">ADD TRIP DESCRIPTION HERE</label>
        </div>
      </div>
    </form>
  </div>
   <a class="saveTripBtn btn-large waves-effect waves-white">SAVE THIS TRIP</a>

  </div>
 </div>
           <div class = "savedItems">
{{!--            
                    <a class="deleteBtn btn-small waves-effect waves-white">DELETE</a> --}}
          
<script type="text/javascript">
    $(document).ready(function(){
      $('.sidenav').sidenav();
    $('.modal').modal(); 
    $('input#input_text, textarea#textarea2').characterCounter();
    $('select').formSelect();
  });

</script>
  
       

</html>
